/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Sniglet:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser. Code taken from Love Running Project */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    font-family: 'Sniglet', sans-serif;
    font-size: 3vw;
}

div p {
    font-size: 1.6vw;
}
h1{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5vw;
    font-size: 120%;
    font-weight: bold;
     
} 


h2{
    font-family: 'Roboto', sans-serif;
    
    font-size: 110%;
    font-weight: bold;
}


h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



h6{

    font-family: 'Roboto', sans-serif;
    font-size: xx-small;
}
/* General styles for body page */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    background-color: rgb(122, 173, 224);
}

/* Header style*/
header {
    display: flex;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 10vw;
}

header a {
    text-decoration: none;
    color: inherit;
}

header h1 {
    font-family: 'Sniglet', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-text-stroke-width: 0.15vw;
    -webkit-text-stroke-color: black;
    color: rgb(247, 161, 2);
    margin-top: 3.1vw;
    width: 85vw;
    font-size: 10%;
}

/*hamburger menu from font awesome */
#hamburger-menu {
    font-size: 80%;
    margin-top: 4vw;
    margin-right: 3vw;
    margin-left: 1.5vw;
    
}

#hamburger-menu:hover {
    color: rgba(114, 112, 112, 0.6);
    transition: 0.5s;
}

/*Header background picture of the sky*/
#header-sky-bg {
    padding-left: 0;
    background: url("../Images/inspirational-quote-bg.jpg")no-repeat center center/cover;
    z-index: 99;
}
#home-button {
    font-family:  'ADLaM Display' , 'Rubik', sans-serif;
    cursor: pointer;
    border: none;
    color: #3a3a3a;
    background-color: inherit;
    font-size: 3.2vw;
    font-weight: bold;
    margin-left: 2vw;
    margin-right: 0;
    margin-top: 4.3vw;
    cursor: pointer;
    text-decoration: underline;
}

/*Bee Keepers logo inside header element*/
#bee-keepers-logo {
    text-align: center;
    font-size: 5vw;

    font-family: 'Sniglet', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-text-stroke-width: 0.15vw;
    -webkit-text-stroke-color: black;
    color: rgb(247, 161, 2);
    margin-top: 3.1vw;
}

/* Main content */
main {

    /* Make main element take up any surplus space to push footer down. code taken from Love Running Project */
     flex: 1 0 auto;
     
      
}

/*styling of the nav bar. default setting is to display: 'none'*/
#menu {
    background: url("../Images/header-pic-2.jpg")no-repeat center center/cover;

    display: flex;
    justify-content: space-around;

    margin-left: 0.5vw;
    font-size: 110%;
    letter-spacing: 1px;
    list-style-type: none;
    width: 85vw;
    border-radius: 1vw;

}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#menu>li {
    margin-left: 0.9em;
    margin-right: 0.9em;
    font-size: 2.5vw;
}

 
 

 

/*styling of main container of the body*/
#main-page-container {
    
    display: flex;
    flex-direction: column;
}

/*styling of the inspirational quote container*/
#feedback-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: orange;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 0.5vw;
    margin-top: 50vw;
    margin-left: 9vw;
    height: 100vw;
}

/*styling of inspirational author*/
#inspirational-quote-author {
    text-align: center;
    font-size: 1.5vw;
}


/*styling of the inspirational title div*/
#inspirational-quote-title {
    /*border: 1px solid rgb(224, 9, 9);*/

    width: 99%;
    height: 5vw;
}

/*styling of the inspirational title quote div*/
#inspirational-quote {
    margin-top: 1vw;
    width: 99%;
    height: 10vw;
}

/*styling of the inspirational quote text*/
#inspirational-quote-text {
    font-family: 'oswald', sans-serif;
    font-style: italic;
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer {
    
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vw;
    z-index: 99;
    flex-direction: row;
    background-color: orange;
    border-top: 1px solid #3a3a3a;
}

/*styling of container holding 'Follow Us' and 'Contact Us' info*/
#follow-us-container {
    display: flex;
    border: 1px solid inherit;
    width: 95%;
    height: 80%;
    margin: auto;
}

/*styling of container parent divs*/
#follow-us-container-parent {
     height: 6.5vw;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 100%;
}

/*styling of children divs - containing 'contact us' and 'follow us' */
#child-div-A{
    margin-bottom: 2.5vw;
      margin: 0;
     display: flex;
   width: 90%;
     border: 1px solid rgb(228, 12, 131); 
    height: 3vw;
    
}

/*extra margin-top in child-div containing social media icons*/
#child-div-b{
    padding-top: 0;
    height: 8vw;
    border: 1px solid blue;
    margin: 0;
    display: flex;
}

/*styling of social media icons*/
li {

    display: inline-block;
    list-style-type: none;
}

 

#child-div h8 {
    width: 100%;
    margin-left: 1vw;
    font-size: 2vw;
    position: absolute;
    height: auto;
}

li i {
    color: rgb(5, 5, 5);
    font-size: 2vw;
    margin-left: 1vw;
    margin-right: 2vw;
    margin-top: 5vw;
}


/*styling of 'Follow Us!' text*/
div h8 {
    letter-spacing: 0.1vw;
    font-family: Impact, sans-serif;
    width: 5vw;
}

/*styling of div containing phone information*/
#phone-number {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 40%;
     display: inline-block;
}

/*Addition of margin between phone icon and phone number*/
#phone-icon {
    font-size: 1.8vw;
    margin-left: 1vw;
    margin-right: 2vw;
     display: inline-block;
     margin-top: 5vw;
}

/*styling of email address div*/
#email-address {
    margin-top: 1vw;
    width: 50%;
}



/*addition if margin between email icon and email address*/
#email-icon {
    margin-top: 1vw;
    font-size: 2vw;
    margin-left: 1.1vw;
    margin-right: 1.5vw;
    color: rgb(3, 3, 3);
}

/*Media Query; tablets and larger (768px and under 979px wide)*/
@media screen and (min-width: 768px) {
    #hamburger-menu {
        font-size: 4vw;
        margin-top: 4vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    #bee-keepers-logo {
        font-size: 220%;
    }
    #about-us-title-box-text{
        font-size: 200%;
    }
    #junior-beekeepers-title-box-text{
         font-size: 200%;
    }
    #meeting-times-title-box-text{
         font-size: 200%;
    }
    #our-location-content-box-text{
         font-size: 200%;
    }
    /*styling of meeting-times table*/
    td, th {  
        font-size: 1.5vw;
    }
  
  /*styling of children divs - containing 'contact us' and 'follow us' */
#child-div-A{
        margin-top: 5.5vw;
        display: flex;
        border: 1px inherit;
        height: 100%;
    }
}

/*for screen sizes over 979px and/*for screen sizes over 979px and under 1200px wide*/
@media only screen and (min-width: 980px) {
    #bee-keepers-logo {
        font-size: 280%;
    }
    #about-us-title-box-text{
        font-size: 220%;
    }
    #junior-beekeepers-title-box-text{
         font-size: 220%;
    }
    #meeting-times-title-box-text{
         font-size: 220%;
    }
    #our-location-content-box-text{
         font-size: 220%;
    }
    /*styling of meeting-times table*/
    td, th {  
        font-size: 1.9vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #bee-keepers-logo {
        font-size: 350%;
    }
    footer{
        padding-bottom: 2vw;
        height: 8vw;
    }
    /*styling of the inspirational quote text*/
    /* Header style*/
header {
    
    padding-bottom: 8.5vw;
    height: 8vw;
}
#hamburger-menu {
    font-size: 3.2vw;
    margin-top: 4vw;
    margin-right: 2vw;
    margin-left: 2vw;
}
#inspirational-quote-text {
    
    font-size: 2.2vw;
    
}
    #about-us-title-box-text{
        font-size: 250%;
    }
    #junior-beekeepers-title-box-text{
         font-size: 250%;
    }
    #meeting-times-title-box-text{
         font-size: 250%;
    }
    #our-location-content-box-text{
         font-size: 250%;
    }
    /*styling of meeting-times table*/
    td, th {  
        font-size: 1.6vw;
    }
}



